*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: aqua;
}
.box1{
    color: red;
    padding: 10px;
    border: 2px solid blue;
    margin: 25px;
    height: 200px;
    box-sizing: border-box;
}
.box2{
    color: rgb(255, 127, 234);
    padding: 10px;
    border: 2px solid blue;
    margin: 25px;
    height: 200px;
    box-sizing: border-box;
}